#################
# Env to ignore #
#################

## PROD ##
/gitops/env/prod/*

## PREPROD ##
/apartmentlab/gitops/env/preprod/*

########################
# Local Data & Volumne #
########################
/apartmentlab/data/