#################
# Env to ignore #
#################

## PROD ##
/gitops/env/prod/*
/apartmentlab/gitops/env/

## PREPROD ##
/apartmentlab/gitops/env/preprod/*

########################
# Local Data & Volumne #
########################
/apartmentlab/data/

########################
# Developing Compose files #
########################