services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /apartmentlab/data/prod/portainer/data:/data
    ports:
      - 9443:9443
