name: Enable Auto-merge on Approved comment

on:
  issue_comment:
    types: [created]

jobs:
  automerge:
    if: >
      github.event.issue.pull_request &&
      github.event.comment.body == 'Approved' &&
      github.event.comment.user.login == github.repository_owner

    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ secrets.GH_PAT }}
      GH_REPO: ${{ github.repository }}

    steps:
      - name: Enable auto-merge (merge commit)
        run: |
          gh pr merge ${{ github.event.issue.number }} --auto --merge
#test_deploy