name: Auto-approve owner PRs

on:
  issue_comment:
    types: [created]
  workflow_dispatch:

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: >
      github.event.issue.pull_request &&
      github.event.comment.body == 'Approved' &&
      github.event.comment.user.login == github.repository_owner
    permissions:
      pull-requests: write
    steps:
      - name: Auto-approve PR
        run: gh pr review ${{ github.event.issue.number }} --approve
        env:
          GITHUB_TOKEN: ${{ github.token }}