name: Auto-approve -> merge owner PRs

on:
  issue_comment:
    types: [created]

jobs:
  approve_automerge:
    if: >
      github.event.issue.pull_request &&
      github.event.comment.body == 'Approved' &&
      github.event.comment.user.login == github.repository_owner

    runs-on: ubuntu-latest


    steps:
      - name: Approve PR
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh pr review ${{ github.event.issue.number }} --approve || true

      - name: Enable auto-merge
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh pr merge ${{ github.event.issue.number }} --auto --merge